---
layout: archive
---

{{ content }}

<h3>Content:</h3>

<table class="tg"><thead>
  <tr>
    <th class="tg-0lax">Link</th>
    <th class="tg-0lax">Description</th>
  </tr></thead>
<tbody>
  <tr>
    <td class="tg-0lax"><a href="/it">IT</a></td>
    <td class="tg-0lax">Everything related to IT and administration</td>
  </tr>
</tbody>
</table>


<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
